h1= title
.actions 
  ul
    li
      a(href='/user/create') Add User
h3 Do your funky little admin thing 
p Go ahead, administrate something
div 
  h3 Categories
  - each category in categories
    li\n
       #{category.name}
       a(href='/admin/category/#{category._id}/remove') (Remove)
  form(method='POST', action='/admin/category/submit/', id='categoryForm')
    p
      input(name='name', class='required')
      input(type='submit', value='Add Category')
