- if (!loggedInUser.username)
  #login
    form(method='POST', action='/login')
      p
        label(for="username") Username:
        input(name='username', id='username')
      p
        label(for="passwordLogin") Password:
        input(name='passwordLogin', id='passwordLogin', type='password')
      p 
        label(for="remember") Remember Me?
        input(name='remember', id='remember', type='checkbox')
      p
        input(type='submit', value='Log In', id='submit')
      p
        a(href="/forgot-password") Forgot Password?
- else
  #login
    p Hi 
      a(href='/user/#{loggedInUser._id}/edit') #{loggedInUser.name}
      &nbsp;\- 
      a(href='/logout/') Log Out\n
