script(src='/javascripts/jquery.validate.min.js', type='text/javascript') 
script
  $(document).ready(function(){
    $('#userForm').validate({
      rules:{
        username:{
          remote: {
            url:'/users/validate/username/',
            type:'post',
            data:{user_id:'#{user._id}'}
          }
        },
        email:{
          remote: {
            url:'/users/validate/email/',
            type:'post',
            data:{
              user_id:'#{user._id}'}
            }
          }
        },
        messages:{
          username:{
            remote: jQuery.format('{0} is already in use')},
            email:{remote: jQuery.format('{0} is already in use')},
            password_confirm:'Passwords must match.'
          }
        });
      }
    );
