h1= title
h4
  a(href="https://github.com/lefthand/Node-JS-Bootstrap") I'm on GitHub!
h3 Goal #1: Learn and demonstrate the basics of node.js 
p Node.js is awesome but it can be a little daunting to get started on. I've created this site as I'm working out node.js best practices. Hopefully others learning node can take a look at this and get a feel for at least one way to accomplish things.
h3 Goal #2: Provide a basic framework to build a full site from
p Every time I get my next brilliant idea for a site I start planning it out and get bogged down thinking about setting up things like proper log in hadling and user management. This project gets all that boring stuff out of the way so you can jump right in and start working on your million dollar site, or a site about your cat, whatever.
p Check us out on 
  a(href="https://github.com/lefthand/Node-JS-Bootstrap") GitHub
  |  for more info.
