h1= title
h3 Create An Account
form(method='POST')
  p Name:
    input(name='name')
  p Username:
    input(name='username')
  p Email:
    input(name='email')
  p Password:
    input(type='password', name='password')
  p Password Again:
    input(type='password', name='passwordAgain')
  -if (loggedInUser.is_root)
    p Is Root:
      input(type='checkbox', name='is_root')
    p Is Admin:
      input(type='checkbox', name='is_admin')
  p
    input(type='submit')
