h1= title
#forgot
  form(method='POST', action='/forgot-password')
    p
      label(for="email") Email Address:
      input(name='email', id='email')
    p
      input(type='submit', value='Reset My Password!', id='submit')
