h1= title
#content
- if (passwordSent) 
  p Password reset request sent. Go check your inbox! 
- else if (password) 
  p Your password has been reset to '#{password}'! 
  p Feel free to log in and change it to something more suitable.
- else 
  - if (error) 
    p There was an error! Oh No! 
    -if (error == 'AccountNotFound')
      p We couldn't find an account with this email address. Sorry!
    -if (error == 'NoEmailGiven')
      p You forgot to enter an email address silly!
    -if (error == 'CouldNotFindUser' || error == 'noUserIdOrVerify')
      p Something went wrong with the reset, try again maybe?
  form(method='POST', action='/forgot-password')
    p
      label(for="email") Email Address:
      input(name='email', id='email')
    p
      input(type='submit', value='Reset My Password!', id='submit')
