h1= title
h3 Here's the Posts
p 
  a(href='/post/add') Add Post
p Oh right, here they are:
//-p Or another way
//-ul.users
//-  != partial('user', users);
//-p Or a third way
//-ul.users
//-  != partial('userGlobal', {collection: users, as: global});
//-p Or a forth way
//-ul.users
//-  != partial('userPerson', {collection: users, as: 'person'});

